.gradle
build

# Ignore `semantic-release` dependencies
node_modules/
package-lock.json

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ
*.iml
*.ipl
*.iws
.idea
classes/
idea-classes/
coverage-error.log

# Finder
.DS_Store
